.PhoneInputInput:focus-visible {
    outline: none !important; 
     
}
.selectrole:hover{
    background-color: blueviolet !important;
    color: white;

}

.overflow-y-scroll{
    scrollbar-width: thin;
    scrollbar-color: #660F5D;
}



input[type="date"]{

  color: #858585;
}
    
  
  input[type="date"]:focus::-webkit-datetime-edit {
    color: inherit; 
  }
  
  
  input[type="date"]::-moz-placeholder {
    opacity: 1;
  }
  
 
  input[type="date"]::-ms-placeholder {
    opacity: 1;
  }
  

/* App.css */
@import '@fontsource/poppins'; /* Defaults to 400 (regular) weight */
@import "@fontsource/montserrat";

body {
    font-family: 'Montserrat', sans-serif;
}
.email::placeholder{
    color: #303030;
}
.password::placeholder{
    color: #303030;
}

input::placeholder{

  font-size: 12px;
}

select::placeholder{
    font-size: 12px;
}
option::placeholder{
    font-size: 12px !important;
}
.overflow-x-auto{
    scrollbar-width: thin;
}
.report-table{
    scrollbar-width: thin;
}

