.PhoneInputInput:focus-visible {
    outline: none !important; 
     
}
.selectrole:hover{
    background-color: blueviolet !important;
    color: white;

}
/*  */
/* Hide scrollbar but keep the scrollable area */
.overflow-y-scroll{
    scrollbar-width: thin;
    scrollbar-color: #660F5D;
}
/* App.css */
@import '@fontsource/poppins'; /* Defaults to 400 (regular) weight */

body {
  font-family: 'Poppins', sans-serif;
}
.email::placeholder{
    color: #303030;
}
.password::placeholder{
    color: #303030;
}
