.PhoneInputInput:focus-visible {
    outline: none !important; 
     
}
.selectrole:hover{
    background-color: blueviolet !important;
    color: white;

}
/*  */
/* Hide scrollbar but keep the scrollable area */
.overflow-y-scroll{
    scrollbar-width: thin;
    scrollbar-color: #660F5D;
}